name: result-verification-header
layout: true

# Result Verification

---
template: result-verification-header

* one
* two

---
template: result-verification-header

* one
* two

---
layout: true