name: result-verification-header
layout: true

# Result Verification

---
template: result-verification-header

## State Verification

* We exercise the SUT and then we examine:
	* the post-exercise **state** of the SUT
	* anything **returned** by the SUT

## Behavior Verification

* We have to catch the SUT "in the act" as it generates **indirect outputs to the objects it depends on**
* We use **Test Doubles**

---
layout: true