.tddimage {
	display: block;
	text-align: right;
}
.tddimage  img {
	position: relative;
	top: -170px;
}

.readabilityimage {
	display: block;
	text-align: right;
}
.readabilityimage  img {
	position: relative;
	top: -90px;
}